---
common_config:
  workers: 4
  proxy: 1
  hostname: {{ inventory_hostname }}
web_services:
{% for service in shared_services %}
	{{ service.name }}:
		port: {{ service.upstream_port }}
		service_path: {{ service.service_path }}
{% endfor %}