[Unit]
Description={{item.description}}
Requires=network.target
After=network.target
# put here other service requirements

[Service]
User=www
Type=simple
# Restart=always
SyslogIdentifier={{item.name}}
PIDFile=/var/run/{{item.name}}.pid
Environment="PERL5LIB=/home/{{ssh_user}}/git/utilities-perl/lib"
Environment="PERLBREW_HOME=/home/www/.perlbrew"
Environment="PERLBREW_ROOT=/opt/perl5"
ExecStart=/home/{{ssh_user}}/git/perlbrew-cron/perlbrew-cron.sh hypnotoad /home/{{ssh_user}}/git/webserver/script/{{item.name}}.pl -f
ExecStop=/home/{{ssh_user}}/git/perlbrew-cron/perlbrew-cron.sh hypnotoad -s /home/{{ssh_user}}/git/webserver/script/{{item.name}}.pl
ExecReload=/home/{{ssh_user}}/git/perlbrew-cron/perlbrew-cron.sh hypnotoad /home/{{ssh_user}}/git/webserver/script/{{item.name}}.pl
KillMode=process
